html, body {
	width: 100%;
	height: 100%;
  background: rgb(255, 255, 255);
}
div.container_ini {
	background: rgb(255, 255, 255) url(../img/Logo.png) center no-repeat ;
  background-size: contain;
	height: 100%;
	width: 100%;


}
* {
	margin: 0;
	padding: 0;
}
.navbar-pri {
  background: linear-gradient(to right, #003A77 50%, #1984BE 100%);
}


.btn_header {
  
  margin: 0.5em;
  background: #003A77;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5px;
 }
 
 .btn_header:hover {
  color: black;
 }
 
 .btn_header:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 1s;
 }
 
 .btn_header:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 1s;
  transition: all 1s;
 }

.navbar{
  border: none;
  border-radius: 0.625em;
  padding: 0.1%;
}


